{% extends 'base.html' %}

{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block 'content' %}
<main class="mt-5 ">
<section class=" ">
	<div class="mask rgba-stylish-strong h-100 d-flex justify-content-center align-items-center">
	  <div class="container">
		<div class="row">
		  <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">

			<!--Form with header-->
			<div class="card wow fadeIn p-4" data-wow-delay="0.3s">
				<h3 class=" border-bottom pb-1">{% trans "Sign In" %}</h3>
				{% get_providers as socialaccount_providers %}
		
				{% if socialaccount_providers %}
				<p>{% blocktrans with site.name as site_name %}Please sign in with one
				of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
				for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
		
				<div class="socialaccount_ballot">
		
				  <ul class="socialaccount_providers">
					{% include "socialaccount/snippets/provider_list.html" with process="login" %}
				  </ul>
		
				  <div class="login-or">{% trans 'or' %}</div>
		
				</div>
		
				{% include "socialaccount/snippets/login_extra.html" %}
		
				{% else %}
				<p>{% blocktrans %}If you have not created an account yet, then please
				<a class="text-primary" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
				{% endif %}
		
			  <div class="card-body">

				<!--Header-->
				
				<form class="login card p-3" method="POST" action="{% url 'account_login' %}">
					{% csrf_token %}
				<!--Body-->
				<div class="md-form">
				  <i class="fas fa-user prefix white-text"></i>
				  <input type="text" name="login" id="orangeForm-name" class="form-control">
				  <label for="orangeForm-name">Username</label>
				</div>
				

				<div class="md-form">
				  <i class="fas fa-lock prefix white-text"></i>
				  <input name="password"  type="password" id="orangeForm-pass" class="form-control">
				  <label for="orangeForm-pass">Your password</label>
				</div>
				{% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		  {% endif %}
		  <a class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
		  <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
		</form>

				<div class="text-center">
				 
				  <hr>
				  <div class="inline-ul text-center d-flex justify-content-center">
					<a class="p-2 m-2 fa-lg tw-ic"><i class="fab fa-twitter white-text"></i></a>
					<a class="p-2 m-2 fa-lg li-ic"><i class="fab fa-linkedin-in white-text"> </i></a>
					<a class="p-2 m-2 fa-lg ins-ic"><i class="fab fa-instagram white-text"> </i></a>
				  </div>
				</div>

			  </div>
			</div>
			<!--/Form with header-->

		  </div>
		</div>
	  </div>
	</div>
  </section>
</main>
{% endblock 'content' %}